/* Whatever custom stuff goes here, mostly atm for overriding defaults in twitter bootstrap
  S.D.
*/

.vmware-logo {
    width: 200px;
    height: 100px;
    margin: 44px;
    float: left;
    background-image: url("../images/vmware_logo.jpg");
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
}

.fill {
    min-height: 75%;
    position: relative;
}

.filler:after {
    background-color: inherit;
    bottom: 0;
    content: "";
    left: 20px;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;
}

body {
    padding-top: 60px;
}

#sidebar {
    padding: 0;
    background-color: #BBD8E9;
}

/* override bootstrap stuff */
.form-horizontal .control-label {
    width: 200px;
    text-align: right;
}

.form-horizontal .controls {
    margin-left: 220px;
}

.modal-body {
    max-height: 75%;
    overflow: scroll;
}

body .modal.fade.in {
    top: 5%; /* fade in to correct spot */
}

.modal-footer {
    background-color: inherit;
}

body .modal {
    height: 90%;
    width: 90%; /* desired relative width */
    left: 5%; /* (100%-width)/2 */
    overflow: hidden;
    margin: auto auto auto auto; /* place center */
}

#spinnerEl {
    margin-top: 21px; /* plugin doesn't allow override computed */
}

