/* Whatever custom stuff goes here, mostly atm for overriding defaults in twitter bootstrap
  S.D.
*/

.vmware-logo {
    width: 200px;
    height: 100px;
    margin: 44px;
    float: left;
    background-image: url("../images/vmware_logo.jpg");
    background-repeat: no-repeat;
}

h3 {
    text-align: center;
}

body {
    /*padding-top: 60px;  60px to make the container go all the way to the bottom of the topbar */
}

body .modal {
    height: 90%;
    width: 90%; /* desired relative width */
    left: 5%; /* (100%-width)/2 */
    overflow: hidden;
    margin: auto auto auto auto; /* place center */
}

.modal-body {
    max-height: 75%;
    overflow: scroll;
}

body .modal.fade.in {
    top: 5%; /* fade in to correct spot */
}

/* override bootstrap stuff */
.form-horizontal .control-label {
    width: 200px;
    text-align: right;
}

.form-horizontal .controls {
    margin-left: 220px;
}
